In [2]:
import pandas as pd

In [3]:
daily_columns = [
            'date', 'code', 'open', 'high', 'low', 'close', 'preclose',
            'volume', 'adjustflag', 'turn', 'tradestatus', 'pctChg', 'isST',
            'MA5', 'MA10', 'MA20', 'MA30', 'MA60', 'MA120'
        ]

t = pd.DataFrame(columns=daily_columns)

In [4]:
import sys
print(sys.path[0])
to_add = pd.read_csv('../resources/market_data/day/sh.600000.csv')
t = t.append(to_add.head(2))
t = t.append(to_add.iloc[-2:])
t = t.append(to_add.iloc[-30:-28])
t = t.append(to_add.iloc[-50:-48])
print(t)

F:\Ginkgo\docs
            date       code   open   high    low  close  preclose     volume  \
0     1999-11-10  sh.600000  29.50  29.80  27.00  27.75     10.00  174085055
1     1999-11-11  sh.600000  27.58  28.38  27.53  27.71     27.75   29403491
5013  2020-07-21  sh.600000  11.59  11.61  11.40  11.54     11.52   55004587
5014  2020-07-22  sh.600000  11.55  11.75  11.50  11.62     11.54   98687637
4985  2020-06-09  sh.600000  10.62  10.72  10.58  10.68     10.61   17263160
4986  2020-06-10  sh.600000  10.71  10.71  10.58  10.58     10.68   16693480
4965  2020-05-12  sh.600000  10.44  10.48  10.34  10.34     10.43   19405945
4966  2020-05-13  sh.600000  10.31  10.39  10.28  10.38     10.34   15574310

     adjustflag       turn tradestatus      pctChg isST  MA5 MA10 MA20 MA30  \
0             3  54.401580           1  177.500000    0  NaN  NaN  NaN  NaN
1             3   9.188591           1   -0.144147    0  NaN  NaN  NaN  NaN
5013          3   0.195700           1    0.173600    0  NaN  NaN  NaN  NaN
5014          3   0.351200           1    0.693200    0  NaN  NaN  NaN  NaN
4985          3   0.061400           1    0.659800    0  NaN  NaN  NaN  NaN
4986          3   0.059400           1   -0.936300    0  NaN  NaN  NaN  NaN
4965          3   0.069100           1   -0.862900    0  NaN  NaN  NaN  NaN
4966          3   0.055400           1    0.386800    0  NaN  NaN  NaN  NaN

     MA60 MA120        amount
0     NaN   NaN  4.859102e+09
1     NaN   NaN  8.215822e+08
5013  NaN   NaN  6.325768e+08
5014  NaN   NaN  1.147396e+09
4985  NaN   NaN  1.840891e+08
4986  NaN   NaN  1.774409e+08
4965  NaN   NaN  2.014746e+08
4966  NaN   NaN  1.607836e+08

In [6]:
s = t.sort_values(by='date', ascending=True, axis=0)
print(s)

            date       code   open   high    low  close  preclose     volume  \
0     1999-11-10  sh.600000  29.50  29.80  27.00  27.75     10.00  174085055
1     1999-11-11  sh.600000  27.58  28.38  27.53  27.71     27.75   29403491
4965  2020-05-12  sh.600000  10.44  10.48  10.34  10.34     10.43   19405945
4966  2020-05-13  sh.600000  10.31  10.39  10.28  10.38     10.34   15574310
4985  2020-06-09  sh.600000  10.62  10.72  10.58  10.68     10.61   17263160
4986  2020-06-10  sh.600000  10.71  10.71  10.58  10.58     10.68   16693480
5013  2020-07-21  sh.600000  11.59  11.61  11.40  11.54     11.52   55004587
5014  2020-07-22  sh.600000  11.55  11.75  11.50  11.62     11.54   98687637

     adjustflag       turn tradestatus      pctChg isST  MA5 MA10 MA20 MA30  \
0             3  54.401580           1  177.500000    0  NaN  NaN  NaN  NaN
1             3   9.188591           1   -0.144147    0  NaN  NaN  NaN  NaN
4965          3   0.069100           1   -0.862900    0  NaN  NaN  NaN  NaN
4966          3   0.055400           1    0.386800    0  NaN  NaN  NaN  NaN
4985          3   0.061400           1    0.659800    0  NaN  NaN  NaN  NaN
4986          3   0.059400           1   -0.936300    0  NaN  NaN  NaN  NaN
5013          3   0.195700           1    0.173600    0  NaN  NaN  NaN  NaN
5014          3   0.351200           1    0.693200    0  NaN  NaN  NaN  NaN

     MA60 MA120        amount
0     NaN   NaN  4.859102e+09
1     NaN   NaN  8.215822e+08
4965  NaN   NaN  2.014746e+08
4966  NaN   NaN  1.607836e+08
4985  NaN   NaN  1.840891e+08
4986  NaN   NaN  1.774409e+08
5013  NaN   NaN  6.325768e+08
5014  NaN   NaN  1.147396e+09

In [11]:
# print(s.shape[0])

split = 5
for i in range(s.shape[0]):
    if i <= split:
        a = s['open'].iloc[0:i].sum()
        days = 1
        if i >=1:
            days=i
        ma5 = a/days
        print(ma5)
    else:
        start = s['open'].iloc[i-split]
        end = s['open'].iloc[i]
        print(f'from {start} to {end}')
        a = s['open'].iloc[i-split:i].sum()
        ma5 = a/split
        print(ma5)
# print(s)

0.0
29.5
28.54
22.506666666666664
19.4575
17.69
from 27.58 to 11.59
13.931999999999999
from 10.44 to 11.55
10.734

In [14]:
minute_columns = [
            'date', 'time', 'code', 'open', 'high', 'low', 'close', 'volume',
            'amount', 'adjustflag'
        ]
m = pd.DataFrame(columns=minute_columns)

In [15]:
import sys
temp = pd.read_csv('../resources/market_data/min/sh.600000.csv')
m = m.append(temp.head(2))
m = m.append(temp.iloc[-2:])
m = m.append(temp.iloc[-30:-28])
m = m.append(temp.iloc[-50:-48])
m['hhh']=''
print(m)

              date               time       code   open   high    low  close  \
0       1999-11-11  19991111093500000  sh.600000  27.58  28.02  27.53  28.02
1       1999-11-11  19991111094000000  sh.600000  28.00  28.10  27.81  27.85
234479  2020-07-22  20200722145500000  sh.600000  11.64  11.64  11.61  11.63
234480  2020-07-22  20200722150000000  sh.600000  11.62  11.63  11.62  11.62
234451  2020-07-22  20200722110500000  sh.600000  11.73  11.74  11.70  11.71
234452  2020-07-22  20200722111000000  sh.600000  11.70  11.74  11.69  11.69
234431  2020-07-21  20200721145500000  sh.600000  11.54  11.55  11.52  11.55
234432  2020-07-21  20200721150000000  sh.600000  11.54  11.55  11.54  11.54

         volume      amount adjustflag hhh
0       2131614  59104096.0          3
1       1302250  36411260.0          3
234479  3230042  37551440.0          3
234480  3664809  42596560.0          3
234451  2212350  25920960.0          3
234452  1740220  20375904.0          3
234431  1570647  18117728.0          3
234432  1618642  18683808.0          3